@font-face {
  font-family: ClearSans;
  font-weight: 400;
  font-variant: normal;
  src: url(./fonts/clear-book.woff2);
}
@font-face {
  font-family: ClearSans;
  font-weight: 700;
  font-variant: normal;
  src: url(./fonts/clear-bold.woff2);
}
